@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6 { margin: 0; }

body {
  /*background-color: #000; !* #211E1E #050816 *!*/
  color: #fff;
  font-family: Roboto, serif;
  margin: 0; padding: 0;

  background: repeating-linear-gradient(0deg,
    #fff 25%,
    #fff 50%,
    #dadada 50%,
    #dadada 75%,
    #fff 100%
  );
  background-size: 5px 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HAMBURGER MENU */

.hamburger {
  
}



.debug-stats {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
}
